.container {
    visibility: hidden;
}

.about {
    visibility: hidden;
}

.myskills {
    visibility: hidden;
}

header {
    visibility: hidden;
}

.not-for-mobile {
    margin: 10rem 0;
}

@media screen and (min-width: 768px) {
    .container {
        visibility: visible;
    }
    .about {
        visibility: visible;
    }
    header {
        visibility: visible;
    }
    .myskills {
        visibility: visible;
    }
    .not-for-mobile {
        display: none;
    }
}