@import 'utilities.css';
:root {
    --primary: #3dcfd3;
    --dark: black;
    --pure: white;
    --ternary: rgb(124 123 123);
    --light: rgb(245, 241, 241);
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 3rem;
}

.hero .left img {
    width: 400px
}

.hero .right {
    color: var(--pure);
    margin-bottom: 3rem;
}

.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1 {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: var(--primary)
}

.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}

.hero .right p span {
    color: var(--primary)
}

section {
    padding: 6rem 0;
}

section.about .about-me-img {
    height: 450px
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary)
}

section.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'lato', sans-serif;
    line-height: 1.9;
    margin-bottom: 1rem;
}

section.about .social {
    display: flex;
}

section.about .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.2rem;
}

section.about .social a img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.section-heading {
    color: var(--dark);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--ternary);
    font-family: 'lato', sans-serif;
    margin-bottom: irem;
    text-align: center;
    margin-bottom: 6rem;
}

section.myskills {
    background: var(--light);
}

section.myskills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    transition: all .3s ease;
}

section.myskills .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
}

section.myskills .card-wrapper .card div {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 4rem;
    height: 4rem;
    background: var(--primary);
}

section.myskills .card-wrapper .card div img {
    height: 3rem;
    width: 3rem;
    ;
}

section.myskills .card-wrapper .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

section.myskills .card-wrapper .card p {
    font-family: 'lato', sans-serif;
    columns: var(--ternary);
    line-height: 1.6rem;
}

section.myskills .card-wrapper .card:hover {
    color: var(--pure);
    background: var(--dark);
}